{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}
{% load my_form_helpers %}

{% block content %}
<div class="pull-right noprint">
    {% block buttons %}{% endblock %}
</div>
<h1>{% block title %}{% endblock %}</h1>
<div class="row">
    <div class="col-md-12">
        {% if filter_form %}
            <div class="col-md-3 pull-right right-side-panel noprint">
                {% include 'inc/search_panel.html' %}
                {% block sidebar %}{% endblock %}
            </div>
        {% endif %}
        <form method="post" class="form form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="return_url" value="{% if return_url %}{{ return_url }}{% else %}{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% endif %}" />
            {% include table_template|default:'responsive_table.html' %}
            <div class="pull-left noprint">
                {% block bulk_buttons %}{% endblock %}
            </div>
        </form>
        {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
        <div class="clearfix"></div>
    </div>
</div>
{% table_config_form table table_name="ObjectTable" %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/tableconfig.js' %}"></script>
{% endblock %}