{% load form_helpers %}
{% load helpers %}

<div class="row mb-3{% if field.errors %} has-errors{% endif %}">

  {# Render the field label, except for: #}
  {#   1. Checkboxes (label appears to the right of the field #}
  {#   2. Textareas with no label set (will expand across entire row) #}
  {% if field|widget_type == 'checkboxinput' or field|widget_type == 'textarea' and not label %}
  {% else %}
    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label text-lg-end{% if field.field.required %} required{% endif %}">
      {{ label }}
    </label>
  {% endif %}

  {# Render the field itself #}
  <div class="col{% if field|widget_type == 'checkboxinput' %} offset-3{% endif %}">
    {# Include the "regenerate" button on slug fields #}
    {% if field|widget_type == 'slugwidget' %}
      <div class="input-group">
        {{ field }}
        <button id="reslug" type="button" title="Regenerate Slug" class="btn btn-outline-dark border-input">
          <i class="mdi mdi-reload"></i>
        </button>
      </div>
    {# Render checkbox labels to the right of the field #}
    {% elif field|widget_type == 'checkboxinput' %}
      <div class="form-check">
        {{ field }}
        <label for="{{ field.id_for_label }}" class="form-check-label">
          {{ label }}
        </label>
      </div>
    {# Default field rendering #}
    {% else %}
      {{ field }}
    {% endif %}

    {# Display any error messages #}
    {% if field.errors %}
      <div class="form-text text-danger">
        {% for error in field.errors %}{{ error }}{% if not forloop.last %}<br />{% endif %}{% endfor %}
      </div>
    {% elif field.field.required %}
      <div class="invalid-feedback">
        This field is required.
      </div>
    {% endif %}

    {# Help text #}
    {% if field.help_text %}
      <span class="form-text">{{ field.help_text|safe }}</span>
    {% endif %}

    {# For bulk edit forms, include an option to nullify the field #}
    {% if bulk_nullable %}
      <div class="form-check my-1">
        <input type="checkbox" class="form-check-input" name="_nullify" value="{{ field.name }}" id="nullify_{{ field.id_for_label }}" />
        <label for="nullify_{{ field.id_for_label }}" class="form-check-label">{{ label_text }}</label>
      </div>
    {% endif %}

  </div>

</div>
