{% extends 'generic/object_list.html' %}
{% load my_form_helpers %}

{% block controls %}
<div class="controls">
    <div class="control-group">
        <a href="{% url 'plugins:software_manager:upgradedevice_list' %}" class="btn btn-primary btn-sm">
            <span class="mdi mdi-forward" aria-hidden="true"></span>Upgrade Device
        </a>
    </div>
</div>
{% endblock controls %}

{% block title %}Scheduled Tasks{% endblock title %}

{% block bulk_buttons %}
<button type="submit" name="_tasks" class="btn btn-success btn-sm" formaction="{% url 'plugins:software_manager:upgradedevice_scheduler' %}">
    <span class="mdi mdi-update" aria-hidden="true"></span> Re-Schedule Selected
</button>
<button type="submit" name="_delete" class="btn btn-danger btn-sm" formaction="{% url 'plugins:software_manager:scheduledtask_bulk_delete' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
    <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete Selected
</button>
{% endblock bulk_buttons %}