{% extends 'base/layout.html' %}
{% load helpers %}
{% load my_form_helpers %}
{% load render_table from django_tables2 %}

{% block title %}Schedule {{ table.rows|length }} Tasks{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs px-3">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="edit-form-tab" data-bs-toggle="tab" data-bs-target="#edit-form" type="button" role="tab" aria-controls="edit-form" aria-selected="true">
        Schedule Tasks
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="object-list-tab" data-bs-toggle="tab" data-bs-target="#object-list" type="button" role="tab" aria-controls="object-list" aria-selected="false">
        Selected Objects {% badge table.rows|length %}
      </button>
    </li>
  </ul>
{% endblock tabs %}

{% block content-wrapper %}
  <div class="tab-content">
    {% block content %}

      {# Schedule form #}
      <div class="tab-pane show active" id="edit-form" role="tabpanel" aria-labelledby="edit-form-tab">
        <form action="" method="post" class="form form-horizontal">
          {% csrf_token %}
          
          <input type="hidden" name="return_url" value="{{ request.POST.return_url }}" />

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <div class="row">
            <div class="col col-md-12 col-lg-10 offset-lg-1">
              <div class="card">
                <div class="card-body">
                  {% for field in form.visible_fields %}
                    {% if field.name in form.start_now %}
                      {% my_render_field field bulk_nullable=True label_text="Start Now" %}
                    {% else %}
                      {% my_render_field field %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="text-end">
                <button type="submit" formaction="?return_url={{ next_url }}" name="_create" class="btn btn-sm btn-primary">Create</button>
                <a href="{{ return_url }}" class="btn btn-sm btn-outline-danger">Cancel</a>
              </div>
            </div>
          </div>

        </form>
      </div>

      {# Selected objects list #}
      <div class="tab-pane" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">
        <div class="card">
          <div class="card-body table-responsive">
            {% render_table table 'inc/table.html' %}
          </div>
        </div>
      </div>

    {% endblock content %}
  </div>
{% endblock content-wrapper %}