<div class="row">
  <div class="col-6">
    {% if widget.is_initial %}
      <a href="{{ widget.value.url }}">{{ widget.value }}</a>
      {% if not widget.required and not widget.attrs.disabled %}
        <br />
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
        <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
      {% else %}
        <br />
        <span class="text-muted">Can not be changed. Please delete and create a new one.</span>
      {% endif %}
    {% else %}
      <span class="text-muted">None assigned</span>
    {% endif %}
  </div>
  <div class="col-6">
    <input
  class="form-control"
  type="{{ widget.type }}"
  name="{{ widget.name }}"
  id="id_{{ widget.name }}"
  accept="{{ widget.attrs.accept }}"
  {% if widget.required %}required{% endif %}
  {% if widget.attrs.disabled %} disabled{% endif %}
/>
  </div>
</div>
